In [5]:
import pandas as pd
data = pd.read_csv("C:/Users/Sfundesihle/Desktop/test/population-and-demography.csv/population-and-demography.csv")

In [7]:

# Display basic information about the dataset
print("Dataset Information:")
print(data.info())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18288 entries, 0 to 18287
Data columns (total 24 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                18288 non-null  object
 1   Year                                        18288 non-null  int64
 2   Population                                  18288 non-null  int64
 3   Population of children under the age of 1   18288 non-null  float64
 4   Population of children under the age of 5   18288 non-null  int64
 5   Population of children under the age of 15  18288 non-null  int64
 6   Population under the age of 25              18288 non-null  int64
 7   Population aged 15 to 64 years              18288 non-null  int64
 8   Population older than 15 years              18288 non-null  int64
 9   Population older than 18 years              18288 non-null  int64
 10  Population at age 1                         18288 non-null  float64
 11  Population aged 1 to 4 years                18288 non-null  float64
 12  Population aged 5 to 9 years                18288 non-null  int64
 13  Population aged 10 to 14 years              18288 non-null  int64
 14  Population aged 15 to 19 years              18288 non-null  int64
 15  Population aged 20 to 29 years              18288 non-null  int64
 16  Population aged 30 to 39 years              18288 non-null  int64
 17  Population aged 40 to 49 years              18288 non-null  int64
 18  Population aged 50 to 59 years              18288 non-null  int64
 19  Population aged 60 to 69 years              18288 non-null  int64
 20  Population aged 70 to 79 years              18288 non-null  int64
 21  Population aged 80 to 89 years              18288 non-null  int64
 22  Population aged 90 to 99 years              18288 non-null  int64
 23  Population older than 100 years             18288 non-null  float64
dtypes: float64(4), int64(19), object(1)
memory usage: 3.3+ MB
None

In [8]:
# Display the size of the dataset
print("\nDataset Shape (rows, columns):", data.shape)

Dataset Shape (rows, columns): (18288, 24)

In [9]:
# Display the first few rows of the dataset

print("\nFirst few rows of the dataset:")
print(data.head())

First few rows of the dataset:
  Country name  Year  Population  Population of children under the age of 1  \
0  Afghanistan  1950     7480464                                   301735.0
1  Afghanistan  1951     7571542                                   299368.0
2  Afghanistan  1952     7667534                                   305393.0
3  Afghanistan  1953     7764549                                   311574.0
4  Afghanistan  1954     7864289                                   317584.0

   Population of children under the age of 5  \
0                                    1248282
1                                    1246857
2                                    1248220
3                                    1254725
4                                    1267817

   Population of children under the age of 15  Population under the age of 25  \
0                                     3068855                         4494349
1                                     3105444                         4552138
2                                     3145070                         4613604
3                                     3186382                         4676232
4                                     3231060                         4741371

   Population aged 15 to 64 years  Population older than 15 years  \
0                         4198587                         4411609
1                         4250002                         4466098
2                         4303436                         4522464
3                         4356242                         4578167
4                         4408474                         4633229

   Population older than 18 years  ...  Population aged 15 to 19 years  \
0                         3946595  ...                          757113
1                         3993640  ...                          768616
2                         4041439  ...                          781411
3                         4088379  ...                          794308
4                         4136116  ...                          806216

   Population aged 20 to 29 years  Population aged 30 to 39 years  \
0                         1241348                          909953
1                         1260904                          922765
2                         1280288                          935638
3                         1298803                          948321
4                         1316768                          961484

   Population aged 40 to 49 years  Population aged 50 to 59 years  \
0                          661807                          467170
1                          667015                          468881
2                          672491                          470898
3                          678064                          472969
4                          684153                          475117

   Population aged 60 to 69 years  Population aged 70 to 79 years  \
0                          271905                           92691
1                          273286                           94358
2                          274852                           96026
3                          276577                           97705
4                          278210                           99298

   Population aged 80 to 89 years  Population aged 90 to 99 years  \
0                            9499                             123
1                           10155                             118
2                           10721                             139
3                           11254                             166
4                           11793                             190

   Population older than 100 years
0                              0.0
1                              0.0
2                              0.0
3                              0.0
4                              0.0

[5 rows x 24 columns]

In [10]:

print("\nColumn names:")
print(data.columns)

Column names:
Index(['Country name', 'Year', 'Population',
       'Population of children under the age of 1',
       'Population of children under the age of 5',
       'Population of children under the age of 15',
       'Population under the age of 25', 'Population aged 15 to 64 years',
       'Population older than 15 years', 'Population older than 18 years',
       'Population at age 1', 'Population aged 1 to 4 years',
       'Population aged 5 to 9 years', 'Population aged 10 to 14 years',
       'Population aged 15 to 19 years', 'Population aged 20 to 29 years',
       'Population aged 30 to 39 years', 'Population aged 40 to 49 years',
       'Population aged 50 to 59 years', 'Population aged 60 to 69 years',
       'Population aged 70 to 79 years', 'Population aged 80 to 89 years',
       'Population aged 90 to 99 years', 'Population older than 100 years'],
      dtype='object')

In [11]:
print("\nFirst 10 rows:")
print(data[:10])

First 10 rows:
  Country name  Year  Population  Population of children under the age of 1  \
0  Afghanistan  1950     7480464                                   301735.0
1  Afghanistan  1951     7571542                                   299368.0
2  Afghanistan  1952     7667534                                   305393.0
3  Afghanistan  1953     7764549                                   311574.0
4  Afghanistan  1954     7864289                                   317584.0
5  Afghanistan  1955     7971933                                   323910.0
6  Afghanistan  1956     8087730                                   330888.0
7  Afghanistan  1957     8210207                                   337874.0
8  Afghanistan  1958     8333827                                   344796.0
9  Afghanistan  1959     8468220                                   352235.0

   Population of children under the age of 5  \
0                                    1248282
1                                    1246857
2                                    1248220
3                                    1254725
4                                    1267817
5                                    1291129
6                                    1322342
7                                    1354752
8                                    1387274
9                                    1421808

   Population of children under the age of 15  Population under the age of 25  \
0                                     3068855                         4494349
1                                     3105444                         4552138
2                                     3145070                         4613604
3                                     3186382                         4676232
4                                     3231060                         4741371
5                                     3281470                         4812348
6                                     3337026                         4889244
7                                     3396048                         4971030
8                                     3455343                         5054113
9                                     3518528                         5144615

   Population aged 15 to 64 years  Population older than 15 years  \
0                         4198587                         4411609
1                         4250002                         4466098
2                         4303436                         4522464
3                         4356242                         4578167
4                         4408474                         4633229
5                         4462830                         4690463
6                         4520007                         4750704
7                         4580195                         4814159
8                         4641086                         4878484
9                         4708834                         4949692

   Population older than 18 years  ...  Population aged 15 to 19 years  \
0                         3946595  ...                          757113
1                         3993640  ...                          768616
2                         4041439  ...                          781411
3                         4088379  ...                          794308
4                         4136116  ...                          806216
5                         4187921  ...                          817550
6                         4243047  ...                          828600
7                         4299625  ...                          839588
8                         4354701  ...                          851433
9                         4413813  ...                          867048

   Population aged 20 to 29 years  Population aged 30 to 39 years  \
0                         1241348                          909953
1                         1260904                          922765
2                         1280288                          935638
3                         1298803                          948321
4                         1316768                          961484
5                         1334989                          975801
6                         1353958                          991166
7                         1374043                         1007440
8                         1393789                         1023595
9                         1414034                         1040441

   Population aged 40 to 49 years  Population aged 50 to 59 years  \
0                          661807                          467170
1                          667015                          468881
2                          672491                          470898
3                          678064                          472969
4                          684153                          475117
5                          691279                          477664
6                          699431                          480665
7                          708537                          484018
8                          717938                          487393
9                          728233                          491447

   Population aged 60 to 69 years  Population aged 70 to 79 years  \
0                          271905                           92691
1                          273286                           94358
2                          274852                           96026
3                          276577                           97705
4                          278210                           99298
5                          279789                          100839
6                          281376                          102385
7                          282918                          103932
8                          284592                          105508
9                          286551                          107136

   Population aged 80 to 89 years  Population aged 90 to 99 years  \
0                            9499                             123
1                           10155                             118
2                           10721                             139
3                           11254                             166
4                           11793                             190
5                           12342                             210
6                           12890                             233
7                           13428                             255
8                           13959                             277
9                           14495                             307

   Population older than 100 years
0                              0.0
1                              0.0
2                              0.0
3                              0.0
4                              0.0
5                              0.0
6                              0.0
7                              0.0
8                              0.0
9                              0.0

[10 rows x 24 columns]

In [31]:

print("\nSlicing specific column (Population):")
print(data[[ 'Population']])

Slicing specific column (Population):
       Population
0         7480464
1         7571542
2         7667534
3         7764549
4         7864289
...           ...
18283    14751101
18284    15052191
18285    15354606
18286    15669663
18287    15993525

[18288 rows x 1 columns]

In [13]:
print("\nValue in the first row and 'Population' column:")
print(data.at[0, 'Population'])

Value in the first row and 'Population' column:
7480464

In [14]:

print("\nMissing values in each column:")
print(data.isnull().sum())

Missing values in each column:
Country name                                  0
Year                                          0
Population                                    0
Population of children under the age of 1     0
Population of children under the age of 5     0
Population of children under the age of 15    0
Population under the age of 25                0
Population aged 15 to 64 years                0
Population older than 15 years                0
Population older than 18 years                0
Population at age 1                           0
Population aged 1 to 4 years                  0
Population aged 5 to 9 years                  0
Population aged 10 to 14 years                0
Population aged 15 to 19 years                0
Population aged 20 to 29 years                0
Population aged 30 to 39 years                0
Population aged 40 to 49 years                0
Population aged 50 to 59 years                0
Population aged 60 to 69 years                0
Population aged 70 to 79 years                0
Population aged 80 to 89 years                0
Population aged 90 to 99 years                0
Population older than 100 years               0
dtype: int64

In [15]:

print("\nRows with missing values:")
print(data[data.isnull().any(axis=1)])

Rows with missing values:
Empty DataFrame
Columns: [Country name, Year, Population, Population of children under the age of 1, Population of children under the age of 5, Population of children under the age of 15, Population under the age of 25, Population aged 15 to 64 years, Population older than 15 years, Population older than 18 years, Population at age 1, Population aged 1 to 4 years, Population aged 5 to 9 years, Population aged 10 to 14 years, Population aged 15 to 19 years, Population aged 20 to 29 years, Population aged 30 to 39 years, Population aged 40 to 49 years, Population aged 50 to 59 years, Population aged 60 to 69 years, Population aged 70 to 79 years, Population aged 80 to 89 years, Population aged 90 to 99 years, Population older than 100 years]
Index: []

[0 rows x 24 columns]

In [33]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

scaler = MinMaxScaler()
data['Population_Normalized'] = scaler.fit_transform(data[['Population']])

In [34]:

standard_scaler = StandardScaler()
data['Population_Standardized'] = standard_scaler.fit_transform(data[['Population']])

In [35]:

print("\nFirst few rows with normalized and standardized 'Population' column:")
print(data[['Population', 'Population_Normalized', 'Population_Standardized']].head())

First few rows with normalized and standardized 'Population' column:
   Population  Population_Normalized  Population_Standardized
0     7480464               0.000946                -0.202077
1     7571542               0.000957                -0.201922
2     7667534               0.000969                -0.201759
3     7764549               0.000982                -0.201594
4     7864289               0.000994                -0.201425