In [1]:
import pandas as pd

data=pd.read_csv("C:/Users/Sfundesihle/Desktop/test/population-and-demography.csv/population-and-demography.csv")

In [3]:
print(data.head())

  Country name  Year  Population  Population of children under the age of 1  \
0  Afghanistan  1950     7480464                                   301735.0
1  Afghanistan  1951     7571542                                   299368.0
2  Afghanistan  1952     7667534                                   305393.0
3  Afghanistan  1953     7764549                                   311574.0
4  Afghanistan  1954     7864289                                   317584.0

   Population of children under the age of 5  \
0                                    1248282
1                                    1246857
2                                    1248220
3                                    1254725
4                                    1267817

   Population of children under the age of 15  Population under the age of 25  \
0                                     3068855                         4494349
1                                     3105444                         4552138
2                                     3145070                         4613604
3                                     3186382                         4676232
4                                     3231060                         4741371

   Population aged 15 to 64 years  Population older than 15 years  \
0                         4198587                         4411609
1                         4250002                         4466098
2                         4303436                         4522464
3                         4356242                         4578167
4                         4408474                         4633229

   Population older than 18 years  ...  Population aged 15 to 19 years  \
0                         3946595  ...                          757113
1                         3993640  ...                          768616
2                         4041439  ...                          781411
3                         4088379  ...                          794308
4                         4136116  ...                          806216

   Population aged 20 to 29 years  Population aged 30 to 39 years  \
0                         1241348                          909953
1                         1260904                          922765
2                         1280288                          935638
3                         1298803                          948321
4                         1316768                          961484

   Population aged 40 to 49 years  Population aged 50 to 59 years  \
0                          661807                          467170
1                          667015                          468881
2                          672491                          470898
3                          678064                          472969
4                          684153                          475117

   Population aged 60 to 69 years  Population aged 70 to 79 years  \
0                          271905                           92691
1                          273286                           94358
2                          274852                           96026
3                          276577                           97705
4                          278210                           99298

   Population aged 80 to 89 years  Population aged 90 to 99 years  \
0                            9499                             123
1                           10155                             118
2                           10721                             139
3                           11254                             166
4                           11793                             190

   Population older than 100 years
0                              0.0
1                              0.0
2                              0.0
3                              0.0
4                              0.0

[5 rows x 24 columns]